.setting-item.group-snippet-setting {
	border: none;
	padding: 0.5em 1em;
}

summary.group-snippets-summary {
	height: 2em;
}

.setting-item.group-options {
	top: -1em;
	position: relative;
}


.is-mobile .setting-item.group-options .setting-item-control {
	margin-top: -2em !important;
}
